<p>
  Graag vóór het begin van de workshop de <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">pre-workshop survey</a> invullen!
</p>

<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>18 maart 2024</h3>
    <table class="table table-striped">
      <tr>
        <td>
          Inleiding (met name <a href="https://librarycarpentry.org/lc-overview/04-computational-approach.html" target="_blank" rel="noopener noreferrer" en ><i>A computational approach</i></a> en <a href="https://librarycarpentry.org/lc-overview/06-file-naming-formatting.html" target="_blank" rel="noopener noreferrer" en ><i>File naming & formatting</i></a>)
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://librarycarpentry.org/lc-spreadsheets/" target="_blank" rel="noopener noreferrer">Werken met spreadsheets</a>.
        </td> 
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>19 maart 2024</h3>
    <table class="table table-striped">
      <tr> 
        <td>
          <a href="https://librarycarpentry.org/lc-open-refine/" target="_blank" rel="noopener noreferrer">OpenRefine</a>
        </td> 
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>25 maart 2024</h3>
    <table class="table table-striped">
      <tr>
        <td>
          <a href="https://github.com/cdsleiden/lc-python" target="_blank" rel="noopener noreferrer">Inleiding tot Python</a> (<a href="#python-setup">Instructies</a>)
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>26 maart 2024</h3>
    <table class="table table-striped">
      <tr>
        <td>
          <a href="https://librarycarpentry.org/lc-data-intro/" target="_blank" rel="noopener noreferrer"><i>Regular expressions</i></a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/cdsleiden/lc-python" target="_blank" rel="noopener noreferrer">Inleiding tot Python</a> (vervolg)
        </td>
      </tr>
      <tr>
        <td>
          <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a>
        </td> 
      </tr>      
    </table>
  </div>
</div>
