
<h3 id="videoconferencing">Installeer Zoom</h3>

{% comment %}
Replace the paragraph below with the relevant installation instructions
if you do not use Zoom
{% endcomment %}
<p>
  Als je nog niet bekend bent met Zoom, kun je de software downloaden van de 
  <a href="https://zoom.us/download">officiële website</a>. 
  Instructies om Zoom te installeren vind je ook daar.
</p>


<h4>Organiseer je werkplek</h4>

<p>
  Als bij alle workshops van de Carpentries, zul je leren door "mee te coderen" met de docenten.
  Daarvoor is het handig als je ruimte hebt voor datgene wat je aan het leren bent (een terminal, een webbrowser, etc),
  en voor Zoom.
  We raden aan om van onderstaande manieren te gebruiken om je werkplek te organiseren:
  <ul>
    <li><strong>Twee monitors:</strong> Als je beschikt over twee monitors,
      gebruik dan één monitor voor Zoom, en één voor het lesmateriaal.
    </li>
    <li><strong>Twee apparaten:</strong> Als je niet over meerdere monitors beschikt,
      kun je wellicht meerdere apparaten gebruiken, bijvoorbeeld een tablet of een smartphone.
      Gebruik dan de tablet of smartphone voor Zoom, en je laptop of desktop voor het lesmateriaal.</li>
    <li><strong>Verdeel je scherm:</strong> Als je één scherm hebt, oefen dan vooraf met het verdelen van je scherm.
      Welke methode werkt voor jou het makkelijkst? Passen er makkelijk twee programma's op je scherm? 
      Kun je tussen twee programma's schakelen met een sneltoets?</li>
  </ul>
  Deze <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">blog post</a> geeft meer gedetailleerd advies voor je schermgebruik tijdens de workshop.
</p>
