<p>
  Graag vóór het begin van de workshop de <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">pre-workshop survey</a> invullen!
</p>

<div class="row">
  <div class="col-md-6">
    <h3>27 maart 2023</h3>
    <table class="table table-striped">
      <tr><td>Inleiding tot het werken met data (met name <a href="https://librarycarpentry.org/lc-overview/03-jargon-busting/index.html" target="_blank" rel="noopener noreferrer"><i>Jargon busting</i></a> en <a href="https://librarycarpentry.org/lc-overview/04-computational-approach/index.html" target="_blank" rel="noopener noreferrer"><i>A computational approach</i></a>)</td></tr>
      <tr><td><a href="https://librarycarpentry.org/lc-spreadsheets/" target="_blank" rel="noopener noreferrer">Werken met spreadsheets</a>.</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>28 maart 2023</h3>
    <table class="table table-striped">
      <tr> <td><a href="https://librarycarpentry.org/lc-open-refine/" target="_blank" rel="noopener noreferrer">OpenRefine</a></td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>3 april 2023</h3>
    <table class="table table-striped">
      <tr><td><a href="https://librarycarpentry.org/lc-data-intro/" target="_blank" rel="noopener noreferrer"><i>Regular expressions</i></a></td></tr>
      <tr><td><a href="https://librarycarpentry.org/lc-python-intro/" target="_blank" rel="noopener noreferrer">Inleiding tot Python</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>4 april 2023</h3>
    <table class="table table-striped">
      <tr><td><a href="https://librarycarpentry.org/lc-data-intro/" target="_blank" rel="noopener noreferrer"><i>Regular expressions</i></a> (vervolg)</td></tr>
      <tr><td><a href="https://librarycarpentry.org/lc-python-intro/" target="_blank" rel="noopener noreferrer">Inleiding tot Python</a> (vervolg)</td></tr>
      <tr><td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>      
    </table>
  </div>
</div>

<h3>Nota bene</h3>
<p>
  Dit is de eerste keer dat de <em>Inleiding tot Python</em> wordt gegeven. Bij voldoende plaats kunnen mensen die eerder aan een Library Carpentry workshop hebben deelgenomen zich inschrijven voor deze Python module, zonder de overige lessen opnieuw te volgen.
</p>