<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>Bash Shell</h3>
  <p>
    Bash is een veelgebruikte <em>shell</em> waarmee je simpele taken sneller kunt volbrengen. De instructies voor installatie vind je <a href="https://librarycarpentry.org/lc-shell/setup.html">hier</a>.
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is een tool om rommelige data op te schonen en te organiseren. Volg deze <a href="https://librarycarpentry.org/lc-open-refine/setup.html">instructies</a> om OpenRefine te installeren.
  </p>
</div>

<div id="tidydata-setup">
  <h3>Opgeruimde data</h3>
  <p>
    In dit deel van de cursus werken we met spreadsheets. Veel mensen zullen daarvoor al een programma beschikbaar hebben, bijvoorbeeld Microsoft Excel. Een gratis alternatief is <em>LibreOffice</em>. Zie <a href="https://librarycarpentry.org/lc-spreadsheets/setup.html">hier</a> voor instructies om dat programma te installeren.
  </p>
</div>